<div class="login-container">
  <div class="login-box">
    <form class="login-form">
      <div class="form-group">
        <input type="text" id="username-login" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" id="password-login" placeholder="Password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width: 100%;">Log In</button>
      </div>
    </form>
    <div style="text-align: center; margin-top: 1rem;">
      <a href="/signup" class="btn btn-secondary">Create new account</a>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>