<div class="login-container">
  <div class="login-box">
    <form class="signup-form">
      <div class="form-group">
        <input type="text" id="username-signup" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" id="password-signup" placeholder="Password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="width: 100%;">Sign Up</button>
      </div>
    </form>
    <div style="text-align: center; margin-top: 1rem;">
      <a href="/login" class="btn btn-secondary">Already have an account? Log in</a>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>